/*!
 * Start Bootstrap - Agency v4.0.0-beta (http://startbootstrap.com/template-overviews/agency)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-agency/blob/master/LICENSE)
 */
 @font-face {
    font-family: 'Proxima Light';
    src: url('../fonts/Proxima/Thin-webfont.eot');
    src: url('../fonts/Proxima/Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Proxima/Thin-webfont.woff2') format('woff2'),
         url('../fonts/Proxima/Thin-webfont.woff') format('woff'),
         url('../fonts/Proxima/Thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Proxima Regular';
    src: url('../fonts/Proxima/proximanova-regular.eot');
    src: url('../fonts/Proxima/proximanova-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Proxima/proximanova-regular.woff2') format('woff2'),
         url('../fonts/Proxima/proximanova-regular.woff') format('woff'),
         url('../fonts/Proxima/proximanova-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Proxima Bold';
    src: url('../fonts/ProximaNova-Bold.eot');
    src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
         url('../fonts/ProximaNova-Bold.woff') format('woff'),
         url('../fonts/ProximaNova-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
  overflow-x: hidden;
  font-family: 'Proxima Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

p {
  line-height: 1.75; }

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer; }
  a.active, a:active, a:focus, a:hover {
    color: #fff;
    cursor: pointer;
    text-decoration: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Proxima Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase; }

header.masthead .intro-text a,
header.masthead .intro-text a:hover{
  color: #fff;
    margin: 0 20px 0 0;
}
section {
  padding: 100px 0; }
  section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px; }
  section h3.section-subheading {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none;
    font-family: 'Proxima Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

@media (min-width: 768px) {
  section {
    padding: 150px 0; } }

::-moz-selection {
  background: #498CCA;
  text-shadow: none; }

::selection {
  background: #498CCA;
  text-shadow: none; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  -webkit-tap-highlight-color: #498CCA; }

#mainNav {
  background-color: #fff; }
  #mainNav .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: white;
    border: 0;
    background-color: #498CCA;
    font-family: 'Proxima Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase; }
  #mainNav .navbar-brand {
    color: #498CCA;
    font-family: 'Proxima Regular', 'Helvetica Neue', Helvetica, Arial, cursive; }
    #mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
      color: #498CCA; }
  #mainNav .navbar-nav .nav-item .nav-link {
    font-size: 90%;
    font-weight: 400;
    padding: 0.75em 0;
    color: #7C7C7C;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: normal;
    font-family: 'Proxima Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase; }
    #mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
      color: #498CCA; }
      #mainNav .outside .nav-item .nav-link a{
        color: #498CCA;
      }

.navbar-nav{
  margin: 0 auto;
}
.outside{
  margin-bottom: 0px;
}
.outside li{
  list-style: none;
}
.outside li:first-child a{
  color: #498cca;
}
.outside .nav-item{
  display: inline-block;
  font-family: 'Proxima Bold';
  font-size: 14px;
  color: #498CCA;
  text-transform: uppercase;
  font-weight: bold;
}
.outside .nav-item:nth-child(2){
  background: #82C211;
  border-radius: 5px;
}
.outside .nav-item:nth-child(2) .nav-link{
  color: #fff;
}
@media (min-width: 992px) {
  #mainNav {
     padding-top: 10px;
    padding-bottom: 10px;
      
    transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
/*
    padding-top: 0px;
    padding-bottom: 0px;
*/
/*
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
*/
    border: none;
    background-color: #FBFBFB; }
    #mainNav .navbar-brand {
      font-size: 1.75em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s; }
    #mainNav .navbar-nav .nav-item .nav-link,
    #mainNav .outside .nav-item .nav-link {
      padding: 1em !important; }
    #mainNav .outside .nav-item:last-child .nav-link{
      padding: 0.5em 1em!important;
    }
    #mainNav.navbar-shrink {
      padding-top: 0;
      padding-bottom: 0;
      background-color: #fbfbfb; }
/*
      #mainNav.navbar-shrink .navbar-brand {
        font-size: 1.25em;
        padding: 12px 0; }
*/
}

.vid header.masthead {
  text-align: center;
  color: white;
  /* background-image: url("../img/main-image.png"); */
  /* background-image: url("../img/video/BG.gif"); */
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  header.masthead {
  text-align: center;
  color: white;
  background-image: url("../img/dass-section2.png");
  /* background-image: url("../img/video/BG.gif"); */
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  #video-background {
    position: relative;
    right: 0; 
    bottom: 0;
    width: 100%; 
    height: auto;
    z-index: -100;
    display: block;
      object-fit: cover;
  }
  .overlay{
    background: -webkit-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.8)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.8)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.8)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0.8)); /* Standard syntax (must be last) */
    width: 100%;
    min-height: auto;
    width: 100%;
    height: 900px;
    position: absolute;
  }
  header.masthead .intro-text {
    padding-top: 150px;
    padding-bottom: 100px; 
    color:#565656;}
    .vid header.masthead .intro-text .intro-lead-in {
      font-size: 22px;
      font-style: italic;
      line-height: 22px;
      margin-bottom: 25px;
      font-family: 'Proxima Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
    header.masthead .intro-text .intro-lead-in {
      font-size: 22px;
      font-style: italic;
      line-height: 22px;
      margin-bottom: 25px;
      color: #fff;
      font-family: 'Proxima Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
    header.masthead .intro-text .intro-heading {
      font-size: 50px;
      font-weight: 700;
      line-height: 50px;
      margin-bottom: 25px;
      font-family: 'Proxima Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      text-transform: uppercase;
      /* margin-bottom: 15px; */
      padding: 15px;}
  header.masthead .intro-text {
    padding-top: 150px;
    padding-bottom: 180px;
    text-align: left;
    font-family: 'Proxima Bold';
    width: 70%; 
    
    }
    .vid header.masthead .intro-text {
      /* padding-top: 150px; */
      /* padding-top: 7.5%; */
      padding-top: 0;
      padding-bottom: 15px;
      /* padding-left: 15px; */
      padding-left: 0;
      padding-right: 15px;
      text-align: left;
      font-family: 'Proxima Bold';
      width: 45%;
      position: absolute;
      top: 35%;
      /* background: rgba(32,93,166,0.5); */
    }
@media (min-width: 768px) {
    .vid header.masthead .intro-text .intro-lead-in {
      font-size: 20px;
      font-style: normal;
      line-height: normal;
      margin-bottom: 25px;
      font-family: 'Proxima Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      /* color: #565656; */
      color: #fff;
      /* padding: 15px; */
      width: 100%;}
    header.masthead .intro-text .intro-lead-in {
      font-size: 20px;
      font-style: normal;
      line-height: normal;
      margin-bottom: 25px;
      font-family: 'Proxima Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      color: #fff;
      width: 65%;}
    .vid header.masthead .intro-text .intro-heading {
      font-size: 44px;
      font-weight: 700;
      line-height: 75px;
      font-family: 'Proxima Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      text-transform: none;
      padding-top: 25%;
      margin-bottom: 15px;
      padding: 0px;
      /* color: #565656; */
      color: #fff;
      line-height: normal;  }
    header.masthead .intro-text .intro-heading {
      font-size: 48px;
      font-weight: 700;
      line-height: 75px;
      font-family: 'Proxima Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      text-transform: none;
      color: #fff;
      padding-left: 0;
      line-height: normal;  } }

.service-heading {
  margin: 15px 0;
  text-transform: none; }

#portfolio .portfolio-item {
  right: 0;
  margin: 0 0 15px; }
  #portfolio .portfolio-item .portfolio-link {
    position: relative;
    display: block;
    max-width: 400px;
    margin: 0 auto;
    cursor: pointer; }
    #portfolio .portfolio-item .portfolio-link .portfolio-hover {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-transition: all ease 0.5s;
      -moz-transition: all ease 0.5s;
      transition: all ease 0.5s;
      opacity: 0;
      background: rgba(73, 140, 202, 0.9); }
      #portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
        opacity: 1; }
      #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
        font-size: 20px;
        position: absolute;
        top: 50%;
        width: 100%;
        height: 20px;
        margin-top: -12px;
        text-align: center;
        color: white; }
        #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
          margin-top: -12px; }
        #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
        #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
          margin: 0; }
  #portfolio .portfolio-item .portfolio-caption {
    max-width: 400px;
    margin: 0 auto;
    padding: 25px;
    text-align: center;
    background-color: white; }
    #portfolio .portfolio-item .portfolio-caption h4 {
      margin: 0;
      text-transform: none; }
    #portfolio .portfolio-item .portfolio-caption p {
      font-size: 16px;
      font-style: italic;
      margin: 0;
      font-family: 'Proxima Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

#portfolio * {
  z-index: 2; }

@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px; } }

.portfolio-modal .modal-dialog {
  max-width: none;
  height: 100%;
  margin: 0; }

.portfolio-modal .modal-content {
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
  border: none;
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none; }
  .portfolio-modal .modal-content h2 {
    font-size: 3em;
    margin-bottom: 15px; }
  .portfolio-modal .modal-content p {
    margin-bottom: 30px; }
  .portfolio-modal .modal-content p.item-intro {
    font-size: 16px;
    font-style: italic;
    margin: 20px 0 30px;
    font-family: 'Proxima Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
  .portfolio-modal .modal-content ul.list-inline {
    margin-top: 0;
    margin-bottom: 30px; }
  .portfolio-modal .modal-content img {
    margin-bottom: 30px; }
  .portfolio-modal .modal-content button {
    cursor: pointer; }

.portfolio-modal .close-modal {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 75px;
  height: 75px;
  cursor: pointer;
  background-color: transparent; }
  .portfolio-modal .close-modal:hover {
    opacity: 0.3; }
  .portfolio-modal .close-modal .lr {
    /* Safari and Chrome */
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #222222; }
    .portfolio-modal .close-modal .lr .rl {
      /* Safari and Chrome */
      z-index: 1052;
      width: 1px;
      height: 75px;
      /* IE 9 */
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
      background-color: #222222; }

.portfolio-modal .modal-backdrop {
  display: none;
  opacity: 0; }

.timeline {
  position: relative;
  padding: 0;
  list-style: none; }
  .timeline:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    content: '';
    background-color: #f1f1f1; }
  .timeline > li {
    position: relative;
    min-height: 50px;
    margin-bottom: 50px; }
    .timeline > li:after, .timeline > li:before {
      display: table;
      content: ' '; }
    .timeline > li:after {
      clear: both; }
    .timeline > li .timeline-panel {
      position: relative;
      float: right;
      width: 100%;
      padding: 0 20px 0 100px;
      text-align: left; }
      .timeline > li .timeline-panel:before {
        right: auto;
        left: -15px;
        border-right-width: 15px;
        border-left-width: 0; }
      .timeline > li .timeline-panel:after {
        right: auto;
        left: -14px;
        border-right-width: 14px;
        border-left-width: 0; }
    .timeline > li .timeline-image {
      position: absolute;
      z-index: 100;
      left: 0;
      width: 80px;
      height: 80px;
      margin-left: 0;
      text-align: center;
      color: white;
      border: 7px solid #f1f1f1;
      border-radius: 100%;
      background-color: #498CCA; }
      .timeline > li .timeline-image h4 {
        font-size: 10px;
        line-height: 14px;
        margin-top: 12px; }
    .timeline > li.timeline-inverted > .timeline-panel {
      float: right;
      padding: 0 20px 0 100px;
      text-align: left; }
      .timeline > li.timeline-inverted > .timeline-panel:before {
        right: auto;
        left: -15px;
        border-right-width: 15px;
        border-left-width: 0; }
      .timeline > li.timeline-inverted > .timeline-panel:after {
        right: auto;
        left: -14px;
        border-right-width: 14px;
        border-left-width: 0; }
    .timeline > li:last-child {
      margin-bottom: 0; }
  .timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit; }
    .timeline .timeline-heading h4.subheading {
      text-transform: none; }
  .timeline .timeline-body > ul,
  .timeline .timeline-body > p {
    margin-bottom: 0; }

@media (min-width: 768px) {
  .timeline:before {
    left: 50%; }
  .timeline > li {
    min-height: 100px;
    margin-bottom: 100px; }
    .timeline > li .timeline-panel {
      float: left;
      width: 41%;
      padding: 0 20px 20px 30px;
      text-align: right; }
    .timeline > li .timeline-image {
      left: 50%;
      width: 100px;
      height: 100px;
      margin-left: -50px; }
      .timeline > li .timeline-image h4 {
        font-size: 13px;
        line-height: 18px;
        margin-top: 16px; }
    .timeline > li.timeline-inverted > .timeline-panel {
      float: right;
      padding: 0 30px 20px 20px;
      text-align: left; } }

@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px; }
    .timeline > li .timeline-panel {
      padding: 0 20px 20px; }
    .timeline > li .timeline-image {
      width: 150px;
      height: 150px;
      margin-left: -75px; }
      .timeline > li .timeline-image h4 {
        font-size: 18px;
        line-height: 26px;
        margin-top: 30px; }
    .timeline > li.timeline-inverted > .timeline-panel {
      padding: 0 20px 20px; } }

@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px; }
    .timeline > li .timeline-panel {
      padding: 0 20px 20px 100px; }
    .timeline > li .timeline-image {
      width: 170px;
      height: 170px;
      margin-left: -85px; }
      .timeline > li .timeline-image h4 {
        margin-top: 40px; }
    .timeline > li.timeline-inverted > .timeline-panel {
      padding: 0 100px 20px 20px; } }

.team-member {
  margin-bottom: 50px;
  text-align: center; }
  .team-member img {
    width: 225px;
    height: 225px;
    border: 7px solid white; }
  .team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none; }
  .team-member p {
    margin-top: 0; }

section#contact {
  background-color: #F1F1F1;
  background-repeat: no-repeat;
  background-position: center; }
  section#contact .section-heading {
    color: white; }
  section#contact .form-group {
    margin-bottom: 25px; }
    section#contact .form-group input,
    section#contact .form-group textarea {
      padding: 20px; }
    section#contact .form-group input.form-control {
      height: auto; }
    section#contact .form-group textarea.form-control {
      height: 236px; }
  section#contact .form-control:focus {
    border-color: #498CCA;
    box-shadow: none; }
  section#contact ::-webkit-input-placeholder {
    font-weight: 700;
    color: #eeeeee;
    font-family: 'Proxima Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase; }
  section#contact :-moz-placeholder {
    font-weight: 700;
    color: #eeeeee;
    /* Firefox 18- */
    font-family: 'Proxima Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase; }
  section#contact ::-moz-placeholder {
    font-weight: 700;
    color: #eeeeee;
    /* Firefox 19+ */
    font-family: 'Proxima Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase; }
  section#contact :-ms-input-placeholder {
    font-weight: 700;
    color: #eeeeee;
    font-family: 'Proxima Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase; }
  section#contact .text-danger {
    color: #fff!important; }

footer {
  padding: 25px 0;
  text-align: center; }
  footer span.copyright {
    font-size: 14px;
    line-height: 20px;
      text-align: center;
      display: block;
    text-transform: none;
    font-family: 'Proxima Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase; }
  footer ul.quicklinks {
    font-size: 90%;
    line-height: 40px;
    margin-bottom: 0;
    text-transform: none;
    font-family: 'Proxima Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase; }

ul.social-buttons {
  margin-bottom: 0; }
  ul.social-buttons li a {
    font-size: 20px;
    line-height: 40px;
    display: block;
    width: 40px;
    height: 40px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: white;
    border-radius: 100%;
    outline: none;
    background-color: #222222; }
    ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
      background-color: #498CCA; }

.text-primary {
  color: #498CCA !important; }

.btn-primary {
  font-weight: 700;
  color: white;
  border-color: #498CCA;
  background-color: #498CCA;
  font-family: 'Proxima Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase; }
  .btn-primary.focus, .btn-primary:focus {
    color: white;
    border-color: #b48b01;
    background-color: #498CCA; }
  .btn-primary:hover {
    color: white;
    border-color: #f6bf01;
    background-color: #498CCA; }
  .btn-primary.active, .btn-primary:active,
  .open > .btn-primary.dropdown-toggle {
    color: white;
    border-color: #f6bf01;
    background-color: #498CCA; }
    .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover,
    .open > .btn-primary.dropdown-toggle.focus,
    .open > .btn-primary.dropdown-toggle:focus,
    .open > .btn-primary.dropdown-toggle:hover {
      color: white;
      border-color: #b48b01;
      background-color: #dcab01; }
  .btn-primary.active, .btn-primary:active,
  .open > .btn-primary.dropdown-toggle {
    background-image: none; }
  .btn-primary.disabled.focus, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled].focus, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover,
  fieldset[disabled] .btn-primary.focus,
  fieldset[disabled] .btn-primary:focus,
  fieldset[disabled] .btn-primary:hover {
    border-color: #498CCA;
    background-color: #498CCA; }
  .btn-primary .badge {
    color: #498CCA;
    background-color: white; }

.btn-xl {
  font-size: 18px;
  font-weight: 700;
  padding: 20px 40px;
  border-radius: 3px;
  color: white;
  border-color: #498CCA;
  background-color: #498CCA;
  font-family: 'Proxima Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase; }
  .btn-xl.focus, .btn-xl:focus {
    color: white;
    border-color: #498CCA;
    background-color: #498CCA; }
  .btn-xl:hover {
    color: white;
    border-color: #498CCA;
    background-color: #498CCA; }
  .btn-xl.active, .btn-xl:active,
  .open > .btn-xl.dropdown-toggle {
    color: white;
    border-color: #498CCA;
    background-color: #498CCA; }
    .btn-xl.active.focus, .btn-xl.active:focus, .btn-xl.active:hover, .btn-xl:active.focus, .btn-xl:active:focus, .btn-xl:active:hover,
    .open > .btn-xl.dropdown-toggle.focus,
    .open > .btn-xl.dropdown-toggle:focus,
    .open > .btn-xl.dropdown-toggle:hover {
      color: white;
      border-color: #498CCA;
      background-color: #dcab01; }
  .btn-xl.active, .btn-xl:active,
  .open > .btn-xl.dropdown-toggle {
    background-image: none; }
  .btn-xl.disabled.focus, .btn-xl.disabled:focus, .btn-xl.disabled:hover, .btn-xl[disabled].focus, .btn-xl[disabled]:focus, .btn-xl[disabled]:hover,
  fieldset[disabled] .btn-xl.focus,
  fieldset[disabled] .btn-xl:focus,
  fieldset[disabled] .btn-xl:hover {
    border-color: #717171;
    background-color: #717171; }
  .btn-xl .badge {
    color: #498CCA;
    background-color: white; }
.btn-act,
.btn-passive{
  font-size: 20px;
  font-family: 'Proxima Bold';
  font-weight: normal;
  width: 250px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.btn-passive,
.btn-passive:focus{
  background: #82C211;
  border-color: #82C211;
}
.btn-passive:hover{
  opacity: 0.8;
  background: #81a000;
  border-color: #81a000;
  cursor: pointer;
}
.main-info{
  padding: 0;
  padding-bottom: 20px;
}
.main-info,
.main-platform,
.main-customer{
  padding-right: 0px;
}
.main-info .part,
.main-platform .part,
.main-customer .part{
  padding-right: 0px;
}
.main-info .infographic{
  background-color: rgba(255,255,255,0.8);
  font-family: 'Proxima Bold';
  /* border: solid 10px #DEDEDE; */
  border-radius: 10px;
  line-height: normal;
  /* padding: 15px 0; */
  padding: 15px 5px;
  text-align: center;
}
.main-info .infographic .number{
  display: inline-block;
}
.main-info .infographic .title{
  font-size: 46px;
  color: #498CCA;
}
.main-info .infographic .title span{
  font-size: 18px;
}
.main-info .infographic .content{
  font-size: 14px;
  color: #6D6D6D;
}

/* CONSUMER INTELLEGENCE */

#consumer-intellegence{
  background: url('../img/consumer/bg-consumer-intelligence.png') no-repeat;
  max-width: 100%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 0 0 0 0;
/*  height: 350px;*/
}
#consumer-intellegence .container{
/*  bottom: 80px;*/
    top: 80px;
  position: relative;
}
#consumer-intellegence .container .main-info{
  max-width: 1140px;
  margin: 0 auto;
  padding: 0;
}
#consumer-intellegence  .container .main-info .part{
  display: inline-block;
  padding-right: 15px;
}
#consumer-intellegence  .container .main-info .infographic{
  background: none;
  border-radius: 0px;
  font-family: 'Proxima Regular';
  padding: 0;
}
#consumer-intellegence  .container .main-info .infographic .content{
  color: #fff;
  font-size: 14px;
    margin: 5px 0 0 0;
}
#consumer-intellegence  .container .main-info .infographic .title{
  color: #fff;
  line-height: normal;
}
#consumer-intellegence  .container .main-info .infographic .title .number{
  font-size: 56px;
    line-height: 56px;
}
#consumer-intellegence  .container .main-info .infographic .title span{
  display: block;
  font-size: 24px;
}
#consumer-intellegence h3.section-subheading.text-muted{
  color: #fff !important;
  font-family: 'Proxima Regular';
  font-size: 26px;
  font-style: normal;
  margin-bottom: 0px;
  background: rgb(14, 48, 79);
  text-align: center;
  padding: 62px 300px;/* 
  width: 90%;
  margin: 0 auto; */
  position: relative;
  top: 0;
    z-index: 99;
}
#consumer-intellegence .autoplay{
  width: 100%;
}
#brands-slider .slick-slide img{
  margin: 0 auto;
  width: 70%;
}
#consumer-intellegence .slick-initialized .slick-slide{
  float: none;
  display: inline-block;
  vertical-align: middle;
}
#consumer-intellegence h2{
  font-family: 'Proxima Regular';
  font-size: 44px;
  color: #565656;
  text-align: center;
  text-transform: none;
  width: 100%;
  padding: 100px 0;
}
.slick-prev,.slick-next{
  width: auto;
  height: auto;
}
/* PLATFORM */
#platform{
  padding: 80px 0;
  background: url('../img/bg-ai-platform.png') no-repeat;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 130px;
}
#platform .insight img{
  width: 100%;
  padding: 15px;
}
#platform .insight .title{
  font-family: 'Proxima Bold';
  font-size: 26px;
  color: #5e5e5e;
  padding-bottom: 10px;
    line-height: 30px;
}
#platform .insight .border{
  border-bottom: 5px solid #D8D8D8!important;
  width: 25%;
  margin: 0 auto;
  margin-bottom: 30px;
}
#platform .insight .btn-act{
  width: 50%;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;  
  font-family: 'Proxima Regular';
  background-color: #498CCA;
  cursor: pointer;
}
#platform .part:nth-child(2) .insight,
#platform .part:nth-child(4) .insight{
  position: absolute;
  bottom: 0;
} 
#platform .section-heading{
  font-size: 48px;
  color: #565656;
  font-family: 'Proxima Bold';
  text-transform: none;
  padding-top: 50px;
}
#platform h3.section-subheading{
  font-style: normal;
  font-size: 22px;
/*  font-family: 'Proxima Bold';*/
  margin-bottom: 100px;
}
/* QUOTES */
#quotes{
  /* background: url('../img/quote.png') no-repeat; */
  background: url('../img/bg-quotes.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 100px 0;
}
#quotes h2,
#quotes h3{
  color: #fff!important;
}
#quotes h2.section-heading,
#quotes h3.section-subheading{
  font-style: normal;
  text-transform: uppercase;
  margin: 0px;
  font-size: 20px;
  padding: 10px;
/*  font-family: 'Proxima Bold';*/
  font-weight: normal;
}
#quotes h3.section-subheading{
    font-family: 'Proxima Bold';
}
#quotes h2.section-heading{
  font-size: 30px;
  text-transform: none;
  width: 80%;
  margin: 0 auto;
}
#quotes-flat{
  /* background: url('../img/quote.png') no-repeat; */
  background: url('../img/resources/quotes-flat.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 50px 0;
}
#quotes-flat h2,
#quotes-flat h3{
  color: #fff!important;
}
#quotes-flat h2.section-heading,
#quotes-flat h3.section-subheading{
  font-style: normal;
  text-transform: uppercase;
  margin: 0px;
  font-size: 20px;
  padding: 10px;
  font-family: 'Proxima Bold';
  font-weight: normal;
}
#quotes-flat h2.section-heading{
  font-size: 30px;
  text-transform: none;
  width: 80%;
  margin: 0 auto;
}
/* PLACE SENSE */
#place-sense{
  padding: 0;
    overflow: hidden;
  /* background: #F5F5F5; */
}
#place-sense .text{
  padding: 75px;
  padding-left: 15px;
}
#place-sense .border{
  border-bottom: 5px solid #498CCA!important;
  width: 20%;
  margin-bottom: 60px;
  text-align: left;
}
#place-sense .title,
#place-sense span{
  font-size: 22px;
  color: #6A6A6A;
/*  font-family: 'Proxima Light';*/
}
#place-sense .title{
  padding: 15px 0;
}
/* IDENTIFY */
#identification{
  background: url('../img/identification-customer.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 100px 0;
}
#identification h2{
  font-size: 40px;
  font-family: 'Proxima Bold';
  text-transform: none;
  color: #565656;
}
#identification h3{
  font-size: 20px;
  font-family: 'Proxima Regular';
  text-transform: none;
  color: #777777;
  font-style: normal;
  margin-bottom: 75px;
  line-height: 28px;
}
#identification .main-customer .insight{
  text-align: center;
}
#identification .main-customer .insight i img{
  padding: 0;
  width: 50px;
  top: -30px;
  position: relative;
}
#identification .main-customer .insight img.phopic{
  width: 150px;
  margin: 0 auto;
  display: block;
  padding: 0px;
  margin-top: 20px;
  border-radius: 100%;
  border: 1px solid #F0F0F0;
}
#identification .main-customer .insight .box{

  border: 1px solid #fff;
  background: #fff;
  border-radius: 5px;
  color: #777777;
  padding-bottom: 20px;
}
#identification .main-customer .insight .box .title{
  color: #468BCA;
    margin-top: -10px;
  /* background-color: #468BCA; */
  font-size: 18px;
  font-family: 'Proxima Bold';
}
#identification .main-customer .insight .box .profile{
  font-size: 18px;
    line-height: 18px;
  text-align: left;
  margin: 15px;
  font-family: 'Proxima Bold';
  border-bottom: 1px solid #DEDEDE;
}
#identification .main-customer .insight .box .profile span{
  font-size: 14px;
    line-height: 14px;
  font-family: 'Proxima Regular';
  display: block;
    margin: 10px 0 0 0;
  padding-bottom: 15px;
}
#identification .main-customer .insight .box .define{
  font-size: 16px;
  text-align: left;
  margin: 15px;
  padding-bottom: 10px;
  color: #468BCA;
  border-bottom: 1px solid #DEDEDE;
  font-weight: lighter;
}
#identification .main-customer .insight .box .seen{
  font-size: 14px;
  text-align: left;
  height: 125px;
  /* overflow: auto; */
  overflow: hidden;
}
#identification .main-customer .insight .box .seen ul{
  padding-left: 15px;
}
#identification .main-customer .insight .box .seen ul li{
  list-style: none;
  text-align: left;
}
/* CASE STUDIES */
#casestudies{
  background: url('../img/case-studies.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 100px 0;
  color: #fff;
}
#casestudies img{
  border-radius: 100%;
}
#casestudies h2{
  font-size: 44px;
  text-transform: none;
  margin-bottom: 30px;
}
#casestudies h3{
/*  font-family: 'Proxima Light';*/
  font-size: 20px;
    line-height: 28px;
  text-transform: none;
  font-style: normal;
  color: #fff!important;
  margin-bottom: 50px;
}
#casestudies .content{
  font-size: 18px;
    line-height: 26px;
  padding: 30px;
}
#casestudies .view{
  text-transform: uppercase;
  padding: 10px;
  border: 2px solid #fff;
  font-size: 14px;
  width: 200px;
  margin: 0 auto;
  border-radius: 5px;
  cursor: pointer;
}
#casestudies .view:hover{
  background: #fff;
  /* color: #498CCA; */
  color: #fff;
}
/* FORM */
#form{
  /* background-color: #498CCA; */
  padding: 100px 0;
}
#form .row{
  margin: 0;
}
#form h2{
  font-size: 48px;
  color: #fff!important;
  font-family: 'Proxima Bold';
  text-transform: none;
  margin-bottom: 25px;
}
#form h3{
  color: #fff;
  text-transform: none;
  font-size: 24px;
  margin-bottom: 50px;
  font-family: 'Proxima Light';
}
#form .form-control{
  padding: 15px;
  border-radius: 0;
}
#form .col-md-3{
  padding-right: 0;
}
#form .btn-act{
  background: #498CCA;
  border-radius: 5px;
  padding: 0.5em 1em!important;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
  font-family: 'Proxima Regular';
    cursor: pointer;
}
#form p{
  font-size: 18px;
    line-height: 22px;
    color: #555;
    padding: 0 30%;
}
#form p strong{
  font-family: 'Proxima Bold';
}
/* CONTACT */
#contact{
  padding: 50px 0;
}
#contact .part .title{
  font-size: 14px;
  text-transform: uppercase;
  /* color: #fff; */
  color: #498CCA;
  margin-bottom: 20px;
  font-family: 'Proxima Bold';
}
#contact .part ul{
  padding: 0;
}
#contact .part ul li{
  list-style: none;
  font-size: 16px;
    line-height: 26px;
  display: block;
  color: #999;
}
#contact .part ul.social li{
  display: inline-block;
}
#contact .part .socmed ul li img{
  width: 40px;
  padding: 5px;
  padding-left: 0;
}
#contact .part .member ul li img{
  width: 70px;
  padding: 5px;
  padding-left: 0;
}
#contact .part .member label{
  margin-bottom: 0;
}
#contact .part label{
  font-size: 14px;
  text-transform: uppercase;
  /* color: #fff; */
  color: #498CCA;
  font-family: 'Proxima Bold';
  margin-bottom: 20px;
  margin-top: 20px;
}
#contact .part .accolades  label{
  font-size: 14px;
  text-transform: uppercase;
  /* color: #fff; */
  color: #498CCA;
  margin-bottom: 20px;
    margin-top: 0;
  font-family: 'Proxima Bold';
}
#contact .part .member  label{
  margin-top: 40px;
  font-size: 14px;
  text-transform: uppercase;
  /* color: #fff; */
  color: #498CCA;
  font-family: 'Proxima Bold';
}
#contact .part:nth-child(2){
  border-right: 1px solid #F1F1F1;
  border-left: 1px solid #F1F1F1;
}
#contact .part:last-child{
  text-align: left;
  padding-left:50px;
}
#contact .part:last-child .title{
  text-transform: uppercase;
}
#contact .part:last-child button{
  width: 25%;
  border-radius: 0;
  padding: 15px;
  font-size: 18px;
}
#contact .part:last-child .form-group input.form-control{
  padding: 15px;
  border-radius: 0;
}
#contact .thefine{
  margin-bottom: 20px;
  padding: 0;
  margin-top: 20px;
}

/* FOOTER */
footer {
  /* background-color: #7B7B7B; */
  color: #fff;
/*  border-top: 1px solid #6A6A6A;*/
  text-transform: none;
  font-size: 20px;
  font-family: 'Proxima Light';
  text-align: left;
}
footer .quicklinks{
  text-align: right;
}
footer a,
footer span.copyright{
  color: #6A6A6A;
  text-transform: none!important;

}
/*
section#contact .part ul a{
  font-family: 'Proxima Light';
}
*/
.nav-item .dropdown-menu{
  box-shadow: none;
  border-radius: 0;
  border: none;
  left: -15px;
  background: #FBFBFB;
  margin: 0;
  padding: 0;
}
.nav-item .dropdown-menu li a{
  display: block;
  font-size: 16px!important;
  font-weight: 400;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: #498CCA;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  font-family: 'Proxima Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
  padding: 0.5em!important;
  
}
.nav-item .dropdown-menu li:hover,
.nav-item .dropdown-menu li a:hover,
.nav-item .dropdown-menu li a:focus{
  background-color: #498CCA;
  color: #fff;
  cursor: pointer;
}
.navbar-expand-lg .navbar-nav .dropdown-menu{
  top: 63px;
}
.navbar-expand-lg.navbar-shrink .navbar-nav .dropdown-menu{
  top: 3.1em;
}
/* .dropbtn {
    border: none;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.navbar .dropdown-content {
    display: none;
    position: absolute;
    background-color: #FBFBFB;
    min-width: 160px;
    box-shadow: none;
    z-index: 1;
    list-style: none;
    text-align: center;
    left: -15px;
    padding: 0;
    top: 82px;
}
.navbar.navbar-shrink .dropdown-content {
    display: none;
    position: absolute;
    background-color: #FBFBFB;
    min-width: 160px;
    box-shadow: none;
    z-index: 1;
    list-style: none;
    text-align: center;
    left: -15px;
    padding: 0;
    top: 66px;
}
.dropdown-content a {
    font-size: 90%;
    font-weight: 400;
    padding: 0.75em 0;
    letter-spacing: 1px;
    color: #7C7C7C;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Proxima Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
    padding: 0.5em 1em !important;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #498cca;color: #fff}
.dropdown:hover .dropdown-content {
    display: block;
} */


/* LIFESIGHT DATA */
#lifesightdata{
  position: absolute;
  top: 575px;
  width: 100%;
}
.five-element{
  /* background: #498CCA; */
  background: rgba(14, 48, 79, 0.77);
  color: #fff;
  padding: 0;
}
.five-element#industrysolutions{
  /* background: #6E9DCD; */
  background: url('../img/bg-industry-solutions.png');
  color: #fff;
  padding: 0;
}
.five-element .part{
  width: 20%;
  
  font-family: 'Proxima Regular';
  vertical-align: middle;
}
.five-element .part .infographic{
  padding:45px 30px;
  /* padding: 25px 30px; */
}
.five-element .part .infographic .title{
  text-align: left;
  line-height: normal;
}
.five-element .part .infographic .title .number{
  display: inline-block;
  text-align: left;
  font-size: 50px;
}
.five-element .part .infographic .title span{
  display: inline-block;
  font-size: 50px;
}
.five-element .part .infographic .content{
  text-align: left;
  font-size: 26px;
  font-family: 'Proxima Light';
  line-height: 1;
}
.five-element#industrysolutions .part,
.five-element .part:first-child{
  font-size: 32px;
}
.five-element .part:first-child .infographic{
  padding: 0;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  height: auto;
}
.five-element#industrysolutions .part:first-child .infographic{
  padding:50px 30px;
}
.five-element#industrysolutions .part:first-child .infographic .title{
  text-align: right;
}
.five-element#industrysolutions .part .infographic{
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  height: 220px;
  padding: 0;
  width: 222px;
}
.five-element#industrysolutions .part .infographic .title{
  text-align: center;
  line-height: 1;
  /* font-family: 'Proxima Light'; */
}
.five-element#industrysolutions .part:nth-child(2){
  /* background: #D10000; */
  background: url('../img/industry-solutions/brands.png')
}
.five-element#industrysolutions .part:nth-child(3){
  /* background: #9100CE; */
  background: url('../img/industry-solutions/media.png')
}
.five-element#industrysolutions .part:nth-child(4){
  /* background: #00A1CC; */
  background: url('../img/industry-solutions/dsps.png')
}
.five-element#industrysolutions .part.fmcg{
  /* background: #258903; */
  background: url('../img/industry-solutions/fmcg.png')
}
.five-element#industrysolutions .part.auto{
  /* background: #D10000; */
  background: url('../img/industry-solutions/auto.png')
}
.five-element#industrysolutions .part.banking{
  /* background: #9100CE; */
  background: url('../img/industry-solutions/banking.png')
}
.five-element#industrysolutions .part.retail{
  /* background: #00A1CC; */
  background: url('../img/industry-solutions/retail.png')
}
.five-element#industrysolutions .part.telco{
  /* background: #258903; */
  background: url('../img/industry-solutions/telco.png')
}
.five-element#industrysolutions .part.dmps{
  /* background: #258903; */
  background: url('../img/industry-solutions/dmps.png')
}
.five-element .part:nth-child(2),
.five-element .part:nth-child(4){
  background: #006EA9;
}
.trio,
#feature{
  font-family: 'Proxima Regular';
  padding: 80px 0;
}
#feature .part{
  padding-bottom: 30px;
  padding-top: 0px;
}
.trio .section-heading,
#feature .section-heading{
  text-transform: none;
  font-family: 'Proxima Bold';
  font-size: 42px;
}
.trio .borderheading,
#feature .borderheading{
  border-bottom: 5px solid #3D80C6!important;
  width: 10%;
  margin: 0 auto;
  margin-bottom: 50px;
}
.trio .main-feature .insight,
#feature .main-feature .insight{
  padding: 15px 0px;
  text-align: left;
}
.trio .main-feature .insight img,
#feature .main-feature .insight img{
  
  text-align: center;
  padding: 0;
}
.trio .main-feature .insight .title,
#feature .main-feature .insight .title{
  text-transform: none;
  font-family: 'Proxima Bold';
  font-size: 24px;
}
.trio .main-feature .insight .border,
#feature .main-feature .insight .border{
  border-bottom: 5px solid #3D80C6!important;
  width: 30%;
  margin-bottom: 15px;
}
.trio .main-feature .insight .info,
#feature .main-feature .insight .info{
  font-size: 20px;
  font-family: 'Proxima Light';
  text-align: center;
  /* line-height: 1; */
}
#feature .main-feature .insight .info{
  text-align: left;
}
.trio .main-feature,
#feature .main-feature{
  margin: 0;
}
.trio .main-feature a,
#feature .main-feature a{
  width: 100%;
  cursor: pointer;
  font-family: 'Proxima Bold';
  font-size: 18px;
}
.trio .main-feature a .btn,
#feature .main-feature a .btn{
  margin-top: 80px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background: #498CCA;
  font-size: 16px;
}
.trio .main-feature a .btn.green,
#feature .main-feature a .btn.green{
  background: #82C211;
}
.trio .main-feature a .btn{
  width: 300px ;
  margin-top: 50px;
}
.trio .main-feature .insight img{
  padding-bottom: 15px;
  margin: 0 auto;
}
.trio .main-feature .insight .title{
  /* width: 50%; */
  line-height: 1;
  text-align: center;
}
.trio .main-feature .part:first-child .insight .title{
  /* width: 70%; */
}
.trio .main-feature .insight .border{
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
}
.main-data{
  margin: 0;
}
#quotes-dass{
  padding: 65px 0;
  /* background: #498CCA; */
  color: #fff;
  text-transform: none;
  /* background: url(../img/case-studies.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
  position: absolute;
  top: 575px;
  width: 100%;
  background: rgba(14, 48, 79, 0.77)
}
#quotes-middle{
  padding: 65px 0;
  /* background: #498CCA; */
  color: #fff;
  text-transform: none;
  background: url(../img/case-studies.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#quotes-dass .section-heading,
#quotes-middle .section-heading{
  text-transform: none;
  font-family: 'Proxima Light';
  line-height: 1;
  font-size: 34px;
}
.product header.masthead .intro-text{
  padding-bottom: 130px;
}
#usecase{
  background: url('../img/bg-trio.png');
  padding: 50px 0;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#usecase.beyond{
  background: #F4FAFF;
  padding: 50px 120px;
}
#usecase.beyond p{
  font-size: 20px;
  font-family: 'Proxima Light';
  margin: 0 auto;
  padding-bottom: 15px;
}
#usecase.beyond row{
  padding: 0;
}
#usecase.beyond .atr .insight img{
  margin: initial;
  width: 25%;
  height: 150px;
    object-fit: contain;
}
#usecase .btn-act{
  margin: 0 auto;
  background: #498CCA;
  border-radius: 5px;
  padding: 0.5em 1em!important;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 2.5em;
  margin-top: 2.5em;
}
#insight{
  background: url('../img/insight/bg-insight.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#attribution{
  background: url('../img/attr-section2.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#partners{
  background: url('../img/partners/bg-partners.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#resources{
  background: url('../img/resources/bg-resources.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#marketing{
  background: url('../img/marketing-section2.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 155px;
}
#feature.two-col .screen{
  padding-right: 0px;
}
#feature.two-col .screen img{
    object-fit: contain;
  /* width: 100%; */
}
#feature.two-col .main-feature a{
  text-align: left;
}
#feature.two-col .main-feature a .btn{
  width: 350px;
  margin-top: 30px!important;
}
/* #feature.two-col .main-feature .insight img{
  padding: 20px!important;
} */
#feature.two-col .main-feature .part:first-child .insight img{
  padding: 0px!important;
}
#feature.two-col .main-feature .insight{
  padding: 0px 30px;
}
.product header.masthead .intro-text{
  /* background: rgba(32,93,166,0.5); */
  padding-bottom: 0px;
  padding: 15px;
  /* padding-top: 150px; */
  padding-top: 150px;
  padding-bottom: 150px;
  padding-left: 0;
}
.product header.masthead{
  padding-bottom: 180px;
}
#quotes-dass.attr p,
#quotes-middle.attr p{
  font-size: 24px;
  font-family: 'Proxima Light';
  margin: 0;
  line-height: 1;
}
#quotes-dass.attr .section-heading span,
#quotes-middle.attr .section-heading span{
  line-height: 1.5;
  font-family: 'Proxima Bold';
  border-bottom: 2px solid #fff;
  padding-bottom: 5px;

}
.five-element.addone .part{
  width: 16.6666666667%;
}
.five-element.addone#industrysolutions .part .infographic{
  padding: 60px 15px;
}
.five-element.addone#industrysolutions .part:last-child .infographic{
  /* background: #EA9E06; */
  height: 220px;
}
.trio .header img{
  display: block;
  margin: 0 auto;
  padding: 15px;
}
.trio .header label{
  text-transform: uppercase;
  font-family: 'Proxima Bold';
  font-size: 24px;
  padding-bottom: 30px;
}
.trio .part:first-child .insight img,
.trio .part:last-child .insight img{
  padding-bottom: 15px;
}
.five-element.addone#industrysolutions .part:nth-child(3) .infographic{
  padding: 0;
}
/* header#attribution .intro-text{
  width: 85%;
} */
#usecase.markethow{
  /* background: #555555; */
  background: url('../img/how-it-works-bg.png');
  padding: 100px 0;
  color: #313131;
}
.trio .main-feature a{
  color: #313131;
}
#usecase.markethow .text{
  padding: 0;
  text-align: center;
}
#usecase.markethow .info{
  font-size: 18px;
  font-family: 'Proxima Light';
  padding-right: 20px;
  padding-left: 20px;
  /* text-align: left; */
}
#usecase .atr{
  padding: 15px;
}
#usecase .atr .header{
  top: 25%;
}
#usecase .atr .header img{
  width: 45%;
}
#usecase .atr .title,
#usecase .atr .info{
  text-align: left;
  padding-top: 15px;
  padding-bottom: 15px;
}
#usecase .atr .border{
  margin:inherit;
}
#usecase .atr .insight img{
  margin: initial;
}
#usecase .atr .line{
  top: 75px;
  right: 0;
  position: absolute;
}
/* #usecase .atr .vl {
    border-left: 6px solid green;
    height: 500px;
} */
.trio.markethow .main-feature .insight .border{
  border: 0px solid #e9ecef!important;
  border-bottom: 5px solid #3D80C6!important;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.readmore{
  overflow-y: hidden;
}
/* .trio .main-feature .text a{
  position: relative;
  top: -50px;
} */
/* VIDEO POPUP */
.lightbox {
  background-color: rgba(0, 0, 0, 0.8);
  overflow: scroll;
  position: fixed;
  display: none;
  z-index: 1031;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}
.lightbox-container {
  position: relative;
  max-width: 960px;
  margin: 7% auto;
  display: block;
  padding: 0 3%;
  height: auto;
  z-index: 10;
}
/*Blog Hor*/
#blog-hor{
  padding:100px 0;
}
#blog-hor h3,
#blog-hor h4,
#blog-hor h5,
#blog-hor p,
#blog-hor .date{
  text-align: left;
  text-transform: capitalize;
  padding:0.5em 1em;
}
#blog-hor .liked{
  text-align: right;
  text-transform: capitalize;
  padding:1em;
}
#blog-hor .bottom{
  margin:0;
  -webkit-box-shadow: 0px 3px 3px 0px rgba(134,142,150,1);
  -moz-box-shadow: 0px 3px 3px 0px rgba(134,142,150,1);
  box-shadow: 0px 3px 3px 0px rgba(134,142,150,1);
  top:-15px;
  position: relative;
  padding-top: 1em;
}
#blog-hor .liked .fa-heart{
  color: #498CCA;
}
#blog-hor .box{
  border:none;
  -webkit-box-shadow: 0px -3px 3px 0px rgba(134,142,150,1);
  -moz-box-shadow: 0px -3px 3px 0px rgba(134,142,150,1);
  box-shadow: 0px -3px 3px 0px rgba(134,142,150,1);
  height: 505px;
  overflow: hidden;
}
#blog-hor .blog-heading{
  color: #498CCA;
  font-family: 'Proxima Regular';
  padding: 1.5em 0.5em 0 0.5em;
  font-size: 20px;
}
#blog-hor p{
  line-height: 1.5em;
  /*height: 150px;*/
  /*overflow: hidden;*/
  font-size: 14px;
}
#blog-hor .box img{
  width: 100%;
}
#blog-hor .blog-author{
  padding-top: 0;
  color: #868e96!important;
  font-size: 14px;
}
#blog-hor .date{
  color: #868e96!important;
}
#blog-hor h3{
  padding:0;
  color: #498CCA;
  font-size: 18px;
  text-transform: uppercase;
  padding-bottom: 15px;
}
#blog-hor .btn-act{
  width: 100%;
  background: #99CC33;
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  font-family: 'Proxima Regular';
  padding:0.5em 0;
  cursor: pointer;
}
/*END Blog Hor*/
/*POST VERTICAL*/
#post-ver{
  padding:100px 0 50px 0;
}
#post-ver .right h3,
#post-ver .left h3{
  color: #498CCA;
  font-size: 22px;
  text-transform: none;
  text-align: left;
  padding-bottom: 25px;
  font-family: 'Proxima Bold';
  padding-left: 0;
}
#post-ver .left h3{
  text-transform: uppercase;
  color: #565656;

}
#post-ver .left .box{
  margin-bottom:3em;
  -webkit-box-shadow: 0px 0px 30px -5px rgba(32,33,47,0.4);
  -moz-box-shadow: 0px 0px 30px -5px rgba(32,33,47,0.4);
  box-shadow: 0px 0px 30px -5px rgba(32,33,47,0.4);
  border-radius: 5px;
  margin-right: 30px;
  margin-left: 0px;
  height: 350px;
}
#post-ver .left .box img{
    object-fit: cover;
  padding:0;
}
#post-ver .left .content{
  color: #000;
  padding: 1em 3em;
}
#post-ver .left .content .row{
  margin: 0;
}
#post-ver .left .content .blog-heading{
  color: #498CCA;
  font-family: 'Proxima Regular';
  padding:0;
  font-size: 20px;
  padding-top: 1.5em;
}
#post-ver .left .content .blog-author{
  color: #A0A0A0;
  font-family: 'Proxima Regular';
  padding:0;
  font-size: 14px;
  padding-bottom: 1.5em;
}
#post-ver .right ul{
  padding-left: 0;
}
#post-ver .right li{
  text-align: left;
  list-style: none;
  padding:0.2em 0;
}
#post-ver .right li a{
  color: #A0A0A0;
  font-size: 18px;
  font-family: 'Proxima Regular';
}
#post-ver h3,
#post-ver h4,
#post-ver h5,
#post-ver p,
#post-ver .date{
  text-align: left;
  text-transform: capitalize;
  padding:0;
}
#post-ver .liked{
  text-align: right;
  text-transform: capitalize;
  padding:0;
  font-size: 14px;
}
#post-ver .bottom{
  margin:0;
  color: #A0A0A0;
  border-top:1px solid #A0A0A0;
  padding-top: 1em;
}
#post-ver .liked  .fa{
  font-size: 18px;
}
#post-ver .liked .fa-heart{
  color: #498CCA;
}
#post-ver .kind{
  text-transform: uppercase;
  text-align: left;
  padding:0;
  font-size: 14px;
}
#post-ver p{
  line-height: normal;
  height: 120px;
  overflow: hidden;
  padding-bottom: 0;
  font-size: 14px;
}
#post-ver .date,
#post-ver .read{
  text-align: right;
  padding:0;
  font-size: 14px;
}
#post-ver .date{
  text-align: left;
}
/*END POST VERTICAL*/

@media screen and (max-width: 768px) {
  .lightbox-container {
    margin-top: 10%;
  }
}
@media screen and (max-width: 414px) {
  .lightbox-container {
    margin-top: 13%;
  }
}
.lightbox-content {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.7);
}
.lightbox-close {
  text-transform: uppercase;
  background: transparent;
  position: absolute;
  font-weight: 300;
  font-size: 18px;
  display: block;
  border: none;
  color: white;
  top: -35px;
  right: 4%;
  font-family: 'Proxima Regular';
}
.lightbox-close:hover{
  cursor: pointer;
}
.video-container {
  padding-bottom: 56.25%;
  position: relative;
  padding-top: 30px;
  overflow: hidden;
  height: 0;
}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
.form-control{
  font-family: 'Proxima Regular';
  font-size: 1.2rem;
}
#contactModal .modal-dialog{
  margin: 50px auto;
}
#contactModal .modal-header,
#thxModal .modal-header{
  text-align: center;
  border-bottom: 0;
}
#contactModal .modal-header .modal-title{
  width: 100%;
  font-size: 22px;
  color: #fff;
}
#contactModal .modal-footer{
  border-top: 0;
}
#contactModal .modal-content{
  border-radius: 0.5rem;
  background: #498CCA;
  padding:0 15px 15px 15px;
}
#contactModal .btn-primary{
  background: #82C211;
  border: #82C211;
  font-size: 18px;
  padding: 15px;
}
#contactModal .close,
#thxModal .close{
  color: #fff;
}
#contactModal .modal-body{
  padding: 0;
}
#contactModal .form-group:last-child{
  margin-bottom: 0px;
}
#contactModal select{
  width: 100%;
  height: 2.5em;
  font-size: 18px;
  display: block;
  border-radius: 3px;
  padding: 15px;
}
/* Dropdown Button */
.dropbtn {
  background: none;
  color: #7C7C7C;
  font-size: 14px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  padding: 1em !important;
  font-family: 'Proxima Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: 1;
}
.dropbtn.active{
  color: #498CCA;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}
.dropbtn:hover,
.dropbtn:active,
.dropbtn.active{
  color: #498CCA!important;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 300px;
    /* box-shadow: 0px 8px 16px 0px #7B7B7B; */
    border: 0.5px solid #DEDEDE;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 14px!important;
  text-transform: capitalize;
  font-weight: bold;
  color: #7C7C7C;
  font-family: 'Proxima Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;  
}
/* .dropdown-content:before,
.dropdown-content:after{
    content: '';
    display: block;
    position: absolute;
    left: 1em;
    width: 20px;
    height: 20px;
    border-style: solid;
}
.dropdown-content:after {
    top: -24px;
    border-color: transparent  transparent #f9f9f9 transparent;
    border-width: 12px;
    left: 19px; 
} */

/* this border color controlls the outside, thin border */
.dropdown-content:before {
    top: -30px;
    border-color: transparent transparent #DEDEDE transparent ;
    border-width: 15px;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #498CCA;color:#fff;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background: none;
}
#contactModal [type=submit],
#thxModal [type=submit]{
  background: #82C211;
  border: #82C211;
  font-size: 18px;
  padding: 0.5em 1em!important;
  color: #fff;
  font-family: 'Proxima Regular';
  width: 100%;
  text-transform: uppercase;
  font-size: 20px;  
  border-radius: 3px;
}
#contactModal label{
  width: 100%;
  color: #fff;
  font-family: 'Proxima Regular';
  font-size: 18px;
  display: block;
  margin-bottom: 0;
  margin-top: -15px;
}
#contactModal input{
  width: 100%;
  height: 2.5em;
  font-size: 18px;
  display: block;
  border-radius: 3px;
  padding: 15px;
}
#contactModal .modal-body {
  padding: 15px;
}
/* NEW */
#brands-slider{
  background: none;
  padding: 100px 0;
}
#brands-slider h2 {
  font-family: 'Proxima Regular';
  font-size: 30px;
  color: #565656;
  text-align: center;
  text-transform: none;
  width: 100%;
  padding-bottom: 30px;
}
#brands-slider .slick-slide img{
  margin: 0 auto;
  width: 70%;
}
#brands-slider .slick-initialized .slick-slide{
  float: none;
  display: inline-block;
  vertical-align: middle;
}
#brands-slider .autoplay{
  width: 100%;
}
form.row{
  margin-right: 0px;
  margin-left: 0px;
}
/* NEW INDUSTRY SOLUTIONS */
#industrysolution{
  background: url('../img/industry-solutions/bg-for-industry.png');
  color: #fff;
  padding: 80px 0;
}
#industrysolution .section-heading{
  text-transform: none;
  font-family: 'Proxima Bold';
  font-size: 42px;
}
#industrysolution .borderheading {
  border-bottom: 5px solid #3D80C6!important;
  width: 10%;
  margin: 0 auto;
  margin-bottom: 50px;
}
#industrysolution .part{
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}
#industrysolution .part .infographic{
  text-align: center;
  color: #fff;
  padding: 15px 0;
}
#industrysolution .part .infographic img{
  width: 75%;
}
#industrysolution .part .infographic .title{
  text-align: center;
  font-size: 26px;
  padding-top: 15px;
}
/* PARTNERS */
.partners{
  background: none!important;
}
.partners p{
  font-size: 18px;
  font-family: 'Proxima Light';
  width: 75%;
  margin: 0 auto;
  padding-bottom: 15px;
}
.partners .main-feature{
  margin: 0 auto;
}
.partners .main-feature .part{
  padding: 0 20px!important;
}
.partners .main-feature .insight img{
  margin: 0 auto!important;
}
.partners .main-feature .insight .title,
.partners .main-feature .insight .info{
  text-align: center!important;
}
.partners .main-feature .insight .info{
  padding: 30px 0!important;
  font-size: 18px;
}
.partners .main-feature .border{
  margin: 0 auto!important;
}
.partners .click{
  width: 75%;
  margin: 0 auto;
}
.partners .btn-passive{
  color: #fff!important;
  font-size: 16px!important;
  text-transform: uppercase!important;
}
.partners .borderheading{
  margin-bottom: 20px;
}
.partners .section-heading,
.partners .main-feature .insight .title{
  font-size: 28px;
}
.partners-program{
  padding-top: 80px!important;
  padding-bottom: 0px!important;
}
.partners-program .content{
  padding: 0!important;
  text-align: left!important;
  padding-top: 20px;
}
.partners-program .borderheading{
  border-bottom: 5px solid #fff!important;
  width: 30%!important;
  margin-bottom: 15px;
}
.partners-program ul {
  padding: 0;
}
.partners-program img{
  width: 100%!important;
}
.partners-program ul li{
  list-style: none;
  font-size: 18px!important;
}
.partners-program .title{
  font-size: 26px;
  font-family: 'Proxima Bold'
}
.partners-program p{
  margin-bottom: 15px!important;
  font-size: 18px!important;
}

#industrysolutions{
    background: url(../img/solution/industry_solutions_bg.jpg) center center no-repeat;
    background-size: cover;
    padding: 80px 0;
}

#industrysolutions h2.section-heading{
    text-transform: none;
    font-family: 'Proxima Bold';
    font-size: 42px;
    color: #FFF;
}

#industrysolutions .borderheading{
    border-bottom: 5px solid #3D80C6;
    width: 10%;
    margin: 0 auto;
    margin-bottom: 50px;
}

#industrysolutions ul{
    display: block;
    list-style: none;
    padding: 0;
    overflow: auto;
    margin: -20px 0;
    width: 100%;
}

#industrysolutions ul li{
    float: left;
    width: 20%;
    padding: 20px;
    color: #FFF;
    font-size: 26px;
    line-height: 28px;
    font-family: 'Proxima Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
}

#industrysolutions ul li .sol-icon{
    position: relative;
}

#industrysolutions ul li .sol-icon img.img-icon{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    left: 0;
    right: 0;
    margin: -25px auto 0 auto;
    object-fit: contain;
}

#industrysolutions ul li .sol-icon img.img-back{
    display: block;
    border-radius: 50%;
    width: 100%;
    margin: 0 0 20px 0;
}

#contactModal.modal-new{
    
}

#contactModal.modal-new .modal-header,
#thxModal.modal-new .modal-header{
    background: #f7f9fb;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid #EEE;
    position: relative;
/*    z-index: 9;*/
    padding: 20px 40px;
}

#contactModal.modal-new .modal-header span,
#thxModal.modal-new .modal-header span{
    box-shadow: inset 0 -3px 0 #999;
    padding: 20px 0;
    text-transform: uppercase;
    color: #666;
    font-size: 18px;
    margin: -21px 0;
}

#contactModal.modal-new .modal-header .close,
#thxModal.modal-new .modal-header .close{
    color: #FFF;
    cursor: pointer;
    text-shadow: none;
    font-size: 48px;
    z-index: 9;
    height: 26px;
    padding: 0;
    line-height: 26px;
}

#contactModal.modal-new .modal-content,
#thxModal.modal-new .modal-content{
    padding: 0;
    background: transparent;
    border: none;
}

#contactModal.modal-new .modal-content .modal-left{
    float: left;
    width: 70%;
    background: #FFF;
    padding: 40px;
    box-sizing: border-box;
    border-radius: 0 0 0 5px;
}

#contactModal.modal-new .modal-content .modal-left ul{
    list-style: none;
    overflow: auto;
    margin: -10px;
    padding: 0;
}

#contactModal.modal-new .modal-content .modal-left ul li{
    float: left;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
}

#contactModal.modal-new .modal-content .modal-left ul li.duo{
    width: 50%;
}

#contactModal.modal-new .modal-content .modal-left ul li label{
    font-size: 12px;
    line-height: 14px;
    display: block;
    margin: 0 0 5px 0;
    color: #999;
    font-family: 'Proxima Bold';
}

#contactModal.modal-new .modal-content .modal-left ul li .caret-sel{
    position: absolute;
    right: 22px;
    bottom: 20px;
    pointer-events: none;
    color: #999;
}

#contactModal.modal-new .modal-content .modal-left ul li input,
#contactModal.modal-new .modal-content .modal-left ul li select,
#contactModal.modal-new .modal-content .modal-left ul li textarea{
    margin: 0;
    padding: 0 10px;
    font-family: 'Proxima Regular';
    -moz-appearance: none;
    -webkit-appearance: none;
    height: 35px;
    font-size: 14px;
    line-height: 14px;
    border-radius: 5px;
    color: #666;
    border: 1px solid #999;
    transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
}

#contactModal.modal-new .modal-content .modal-left ul li textarea{
    width: 100%;
    resize: none;
    height: 100px;
}

#contactModal.modal-new .modal-content .modal-left ul li input:hover,
#contactModal.modal-new .modal-content .modal-left ul li select:hover,
#contactModal.modal-new .modal-content .modal-left ul li textarea:hover{
    border: 1px solid #468dcb;
}

#contactModal.modal-new .modal-content .modal-left ul li input:focus,
#contactModal.modal-new .modal-content .modal-left ul li select:focus,
#contactModal.modal-new .modal-content .modal-left ul li textarea:focus{
    outline: none;
    border: 1px solid #468dcb;
    box-shadow: 0 0 5px #468dcb;
}

#contactModal.modal-new .modal-content .modal-left ul li.in-error input,
#contactModal.modal-new .modal-content .modal-left ul li.in-error select,
#contactModal.modal-new .modal-content .modal-left ul li.in-error textarea{
    border: 1px solid #e44d60;
}

#contactModal.modal-new .modal-content .modal-left ul li.in-error i.fa-times-circle{
    color: #e44d60;
    position: absolute;
    right: 22px;
    top: 38px;
    pointer-events: none;
}

#contactModal.modal-new .modal-content .modal-left ul li.in-invalid input,
#contactModal.modal-new .modal-content .modal-left ul li.in-invalid select,
#contactModal.modal-new .modal-content .modal-left ul li.in-invalid textarea{
    border: 1px solid #f5a623;
}

#contactModal.modal-new .modal-content .modal-left ul li.in-invalid i.fa-times-circle{
    color: #666;
    position: absolute;
    right: 22px;
    top: 38px;
    pointer-events: none;
}

#contactModal.modal-new .modal-content .modal-left ul li.in-success input,
#contactModal.modal-new .modal-content .modal-left ul li.in-success select,
#contactModal.modal-new .modal-content .modal-left ul li.in-success textarea{
    border: 1px solid #468dcb;
}

#contactModal.modal-new .modal-content .modal-left ul li.in-success i.fa-check-circle{
    color: #9fd356;
    position: absolute;
    right: 22px;
    bottom: 20px;
    pointer-events: none;
}

#contactModal.modal-new .modal-content .modal-left ul li .text-val{
    color: #999;
    font-size: 11px;
    line-height: 11px;
    position: absolute;
    bottom: -5px;
}

#contactModal.modal-new .modal-content .modal-left ul li button,
#thxModal.modal-new .modal-thx button{
    height: 35px;
    font-family: 'Proxima Regular';
    -moz-appearance: none;
    -webkit-appearance: none;
    text-transform: uppercase;
    width: 100%;
    border: none;
    text-align: center;
    background: #468dcb;
    color: #FFF;
    font-family: 'Proxima Bold';
    border-radius: 5px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
}

#thxModal.modal-new .modal-thx button{
    width: 60%;
    height: 40px;
    margin: 40px 0 0 0;
}

#contactModal.modal-new .modal-content .modal-left ul li button:hover,
#thxModal.modal-new .modal-thx button:hover{
    background: #276dab;
}

#contactModal.modal-new .modal-content .modal-right{
    position: absolute;
    width: 30%;
    right: 0;
    bottom: 0;
    top: 0;
    border-radius: 0 5px 5px 0;
    box-sizing: border-box;
    background: url(../img/bg-inquiry.jpg) no-repeat center center;
    background-size: cover;
}

#thxModal.modal-new .modal-lg{
    max-width: 500px;
}

#thxModal.modal-new .modal-thx{
    text-align: center;
    background: #FFF;
    padding: 40px;
    border-radius: 0 0 5px 5px;
}

#thxModal.modal-new .modal-thx img{
    display: block;
    width: 200px;
    margin: 0 auto 20px auto;
}

#thxModal.modal-new .modal-thx .thx-1{
    text-align: center;
    font-size: 23px;
    color: #666;
}

#thxModal.modal-new .modal-thx .thx-2{
    text-align: center;
    font-size: 18px;
    color: #666;
}

#feature .main-feature .insight img{
    object-fit: contain;
}

/* RESPONSIVENESS */
@media screen and (min-width: 1999px) and (max-width: 1600px){
  #platform .insight .btn-act{
    width: 50%;
  }
  .five-element .part:first-child .infographic{
    height: 192px;
  }
}
@media screen and (max-width: 1140px){
/*
  #video-background{
    left: calc(50% - 570px);
  }
*/
  header.masthead .intro-text{
    width: 100%;
    left: 0;
  }
}
@media screen and (min-width: 1028px) and (max-width: 1140px){
  #usecase .header img{
    width: 20%;
  }
/*
  #video-background{
    left: calc(50% - 570px);
  }
*/
  header.masthead .intro-text{
    width: 100%;
    left: 0;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
  }
  header.masthead .intro-text .intro-lead-in{
    width: 100%;
  }
  .vid header.masthead .intro-text{
    padding-top: 180px;
    width: 100%;
    text-align: center;
  }
  .vid header.masthead .intro-text .intro-lead-in{
    width: 100%;
  }
  .five-element .part:first-child .infographic{
    height: 192px;
  }
}
@media screen and (min-width: 1028px) and (max-width: 1998px){
  #usecase .header img{
    width: 20%;
  }
  #platform .part:nth-child(1) .insight,
  #platform .part:nth-child(3) .insight{
    position: absolute;
    bottom: 0;
  } 
  #platform .part:nth-child(2) .insight,
  #platform .part:nth-child(4) .insight{
    position: relative;
  } 
  #platform .insight .btn-act{
    width: 60%;
  }
  .five-element .part:first-child .infographic{
    height: 150px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1027px){
  #navbarResponsive .navbar-nav .dropdown{
    display: none;
  }
  #navbarResponsive .navbar-nav .nav-item.dropdown{
    display: block!important;
  }
  #usecase .header img{
    width: 25%;
  }
  .vid header.masthead .intro-text{
    width: 100%;
    text-align: center;
      padding: 0 40px;
  }
  .vid header.masthead .intro-text .intro-lead-in{
    width: 100%;
    text-align: center;
  }
  #platform .part:nth-child(1) .insight,
  #platform .part:nth-child(3) .insight{
    position: absolute;
    bottom: 0;
  } 
  #platform .part:nth-child(2) .insight,
  #platform .part:nth-child(4) .insight{
    position: relative;
  } 
   #platform .insight .btn-act{
    width: 80%;
  }
  .main-info .part{
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  header.masthead .intro-text,
  header.masthead .intro-text .intro-lead-in{
    width: 100%;
  }
  .btn-act, .btn-passive{
    width: 100%;
    margin: 5px 0;
  }
  #platform .main-platform .part{
    -ms-flex: 0 0 50%;
    padding: 10px 0;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .main-info .infographic{
    margin: 5px 0;
    padding: 10px;
  }
  #consumer-intellegence{
    background: #3889CD;
  }
  #consumer-intellegence h2{
    padding: 50px;
    color: #fff;
  }
    
    #consumer-intellegence h3.section-subheading.text-muted{
        padding: 62px 200px;
    }
    .overlay{
        height: 745px;
    }
  /* #consumer-intellegence h3.section-subheading.text-muted{
    color: #565656!important;
  } */
  .slick-prev{
    left: -10px;
  }
  .slick-next{
    right: -10px;
  }
  #platform .main-platform .part{
    padding: 0;
  }
  #form .col-md-3{
    padding-right: 0;
  }
  #casestudies img{
    width: 100%;
  }
  .main-customer .part{
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 30px;
  }
  #place-sense .text {
    padding: 125px;
    padding-left: 15px;
  }
  #contact .part{
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  #contact .part:last-child{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 15px;
  }
  footer .col-md-6:first-child{
   -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%;
  }
  footer .col-md-6:last-child{
   -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
  }
  #mainNav{
    background-color: #FBFBFB;
  }
  #contact .part:nth-child(2){
    border-right: none;
  }
  #quotes{
    padding: 50px 0;
  }
  #place-sense .text{
    padding: 100px 0;
  }
  #identification .main-customer .insight{
    padding: 0 15px;
  }
  #identification .main-customer .insight img.phopic{
    padding-bottom: 20px;
  }
  header.masthead .intro-text{
    text-align: center;
    padding-top: 75px;
    padding-left: 100px;
    padding-right: 100px;
  }
  .five-element .part:first-child{
    width: 100%;
    text-align: center;
  }
  .five-element .part:first-child .infographic{
    height: auto;
    width: 100%;
    padding: 30px 0;
    display: block;
  }
  .five-element .part:first-child .title{
    text-align: center;
  }
  .five-element .part{
    width: 50%;
  }
  .five-element .part .infographic .title,
  .five-element .part .infographic .content{
    text-align: center;
  }
  .five-element .part:last-child{
    background: #006EA9;
  }
  .five-element .part:nth-last-child(2){
    background: transparent;
  }
  .trio .main-feature .part,
  #feature .main-feature .part{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 15px 0;
  }
  .trio .main-feature .insight img{
    margin: 0 auto;
  }
  .trio .main-feature .part:first-child .insight .title,
  .trio .main-feature .part .insight .title{
    text-align: center;
    width: 100%;
  }
  .trio .main-feature .insight .border{
    border-bottom: 5px solid #3D80C6!important;
    width: 10%;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .five-element#industrysolutions .part:first-child .infographic .title{
    text-align: center;
  }
  .five-element#industrysolutions .part .infographic{
    display: block;
    width: 100%;
    height: auto;
    padding: 50px;
  }
  /* .product header.masthead .intro-text .intro-heading,
  .product header.masthead .intro-text .intro-lead-in{
    background: rgba(32,93,166,0.5);
    padding: 10px;
  }
  .product header.masthead .intro-text .intro-heading{
    margin-bottom: 0;
  }
  .product header.masthead .intro-text .intro-lead-in{
    padding-top: 30px;
  } */
  #feature .main-feature .insight img{
    width: auto;
    margin: 0 auto;
  }
  .trio .main-feature .insight, #feature .main-feature .insight{
    text-align: left;
  }
  #feature .main-feature .insight .border{
    /* margin: 0 auto; */
  }
  .main-data{
    padding: 0;
  }
  #feature .main-feature .insight .info{
    padding-top: 15px;
  }
  #feature.two-col .main-feature,
  #feature.two-col .screen{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  #feature.two-col .screen{
    padding: 50px 0;
    margin: 0 auto;
  }
  #feature.two-col .main-feature a{
    text-align: center;
  }
  #feature.two-col .main-feature .part{
    margin: 0 auto;
  }
  #feature.two-col .screen img {
    width: 80%;
    margin: 0 auto;
  }
  .trio.how .insight .info{
    text-align: center;
  }
  .five-element.addone#industrysolutions .part .infographic{
    padding: 30px!important;
  }
  .five-element.addone .part{
    width: 50%;
  }
  .readmore a{
    display: none;
  }
  .readmore{
    height: auto!important;
    overflow-y: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){
    #lifesightdata.five-element{
        top: 616px;
    }
    
    .five-element .part:first-child{
        display: none;
    }
    
    .five-element .part{
        width: 25%;
    }
    
    #marketing{
        padding-bottom: 180px;
    }
    
    #attribution{
        padding-bottom: 165px !important;
    }
    
    #dass{
        padding-bottom: 180px !important;
    }
    
    #partners{
        padding-bottom: 146px !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait){
    .vid header.masthead .intro-text{
        top: 12.5%;
    }
    
    #video-background {
      height: 530px;
        top: 0;
        bottom: auto;
    }
    
    #consumer-intellegence h3.section-subheading.text-muted{
        padding: 62px 100px;
    }
    
    #lifesightdata.five-element{
        top: 616px;
    }
    
    .five-element .part:first-child{
        display: none;
    }
    
    .five-element .part .infographic{
        padding: 20px 30px;
    }
    
    #quotes-dass{
        top: 642px;
    }
    
    #usecase.beyond{
        padding: 50px 40px;
    }
    
    #dass{
        padding-bottom: 180px !important;
    }
    
    #partners{
        padding-bottom: 97px !important;
    }
    
    #blog-hor .col-md-4{
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        padding: 20px 0;
    }
    
    #blog-hor .box{
        height: auto;
    }
    
    #post-ver .left .box img{
        height: 351px;
    }
    
    #post-ver .left,
    #post-ver .right{
        flex: 0 0 100%;
        max-width: 100%
    }
    
    .modal-lg{
        max-width: 700px
    }
    
    #industrysolutions ul li{
        width: 33.33%;
    }
    
    #industrysolutions ul li:nth-child(1),
    #industrysolutions ul li:nth-child(2){
        width: 50%;
    }
    
    #industrysolutions ul li:nth-child(1) .sol-icon,
    #industrysolutions ul li:nth-child(2) .sol-icon{
        padding: 0 60px;
    }
}

@media screen and (max-width: 767px){
  #navbarResponsive .navbar-nav .dropdown{
    display: none;
  }
  #navbarResponsive .navbar-nav .nav-item.dropdown{
    display: block!important;
  }
  #usecase .header img{
    width: 185px;
  }
  .vid header.masthead .intro-text{
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
  #mainNav{
    background-color: #FBFBFB;
  }
  .btn-act, .btn-passive,
  .main-info .infographic{
    margin: 5px 0;
  }
  .slick-next {
    right: 5px;
    z-index: 99;
  }
  .slick-prev {
    left: 5px;
    z-index: 99;
  }
  #platform .insight img{
    width: 50%;
  }
  #platform .insight{
    margin: 10px 0;
  }
  #quotes{
    padding: 10px 0;
  }
  #place-sense .text {
    padding: 50px;
  }
  #identification .main-customer .insight img.phopic{
    padding-bottom: 10px;
  }
  #identification .main-customer .insight{
    margin-bottom: 30px;
  }
  #casestudies .main-retail,
  #form{
    margin: 0 auto;
  }
  #casestudies .main-retail .insight{
    padding-bottom: 30px;
  }
  #form .form-control{
    margin: 10px 0;
  }
  #brands-slider .slick-slide img{
    width: 60%;
  }
  #platform .part:nth-child(1) .insight,
  #platform .part:nth-child(3) .insight,
  #platform .part:nth-child(2) .insight,
  #platform .part:nth-child(4) .insight{
    position: relative;
  }
  footer .col-md-6{
   -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
  }
  footer .quicklinks{
    text-align: center;
  }
  #contact .socmed,
  #contact .member{
    text-align: center;
  }
  #contact .part:nth-child(2){
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding:10px 0;
    border-right: none;
    border-left: none;
  }
  #contact .part:first-child ul li{
    display: block;
  }
  #contact .part:last-child{
    padding: 15px;
  }
  #identification .main-customer .insight{
    padding: 0 30px;
  }
  #platform,
  #consumer-intellegence h2 {
    padding: 50px 0;
    font-size: 30px;

  }
  #consumer-intellegence h2{
    color: #fff;
  }
  #consumer-intellegence{
    padding-top: 50px;
    background: #3889CD;
  }
  #consumer-intellegence .container{
    padding-right: 0px;
    padding-left: 0px;
  }
  header.masthead .intro-text{
    padding-bottom: 50px;
    padding-top: 100px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
  }
  #platform h3.section-subheading{
    margin-bottom: 50px;
  }
  #place-sense .container{
    margin: 0;
    max-width: 100%;
  }
  #place-sense .display{
    background-image: url('../img/video/Maps_Web_Blue_NV.gif');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 500px;
  }
  #place-sense .display img{
    display: none;
  }
  #place-sense .text img{
    width: 100%;
  }
  #quotes h2.section-heading{
    font-size: 30px;
  },
  #platform .section-heading,
  #identification h2,
  #casestudies h2,
  #form h2{
    font-size: 40px;
  }
  .vid header.masthead .intro-text .intro-lead-in,
  .vid header.masthead .intro-text .intro-heading{
    line-height: normal;
    font-size: 24px;
    color: #fff;
    width: 100%;
    font-style: normal;
    text-align: center;
  }
  .vid header.masthead .intro-text .btn{
    margin: 0 auto;
    width: 100%;
  }
  header.masthead .intro-text .intro-heading{
    line-height: normal;
    font-size: 30px;
    color: #fff;
  }
  #consumer-intellegence h3.section-subheading.text-muted{
    font-size: 30px;
  }
  #platform .section-heading img{
    width: 50%
  }
  #form .col-md-3{
    padding-left: 0px;
  }
  .five-element .part:first-child{
    width: 100%;
    text-align: center;
  }
  .five-element .part:first-child .infographic{
    height: auto;
    width: 100%;
    padding: 30px 0;
    display: block;
  }
  .five-element .part:first-child .title{
    text-align: center;
  }
  .five-element .part{
    width: 50%;
  }
  .five-element .part .infographic .title,
  .five-element .part .infographic .content{
    text-align: center;
    word-wrap: break-word;
    font-size: 24px;
  }
  .five-element .part:last-child{
    background: #006EA9;
  }
  .five-element .part:nth-last-child(2){
    background: transparent;
  }
  .trio .main-feature .part,
  #feature .main-feature .part{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 15px 0;
  }
  .trio .main-feature .insight img{
    margin: 0 auto;
  }
  .trio .main-feature .part:first-child .insight .title,
  .trio .main-feature .part .insight .title{
    text-align: center;
    width: 100%;
  }
  .trio .main-feature .insight .border{
    border-bottom: 5px solid #3D80C6!important;
    width: 10%;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .five-element#industrysolutions .part:first-child .infographic .title{
    text-align: center;
  }
  .five-element#industrysolutions .part .infographic{
    display: block;
    width: 100%;
    height: auto;
    padding: 20px;
  }
  /* .product header.masthead .intro-text .intro-heading,
  .product header.masthead .intro-text .intro-lead-in{
    background: rgba(32,93,166,0.5);
    padding: 10px;
  }
  .product header.masthead .intro-text .intro-heading{
    margin-bottom: 0;
  }
  .product header.masthead .intro-text .intro-lead-in{
    padding-top: 30px;
  } */
  #feature .main-feature .insight img{
    width: auto;
    margin: 0 auto;
  }
  .trio .main-feature .insight, #feature .main-feature .insight{
    text-align: center;
  }
  #feature .main-feature .insight .border{
    margin: 0 auto;
  }
  .main-data{
    padding: 0;
  }
  #feature .main-feature .insight .info{
    padding-top: 15px;
  }
  #feature.two-col .main-feature,
  #feature.two-col .screen{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  #feature.two-col .screen{
    padding: 50px 0;
    margin: 0 auto;
  }
  #feature.two-col .main-feature a{
    text-align: center;
  }
  #feature.two-col .main-feature .part{
    margin: 0 auto;
  }
  .vid header.masthead .intro-text{
    padding-top: 80px;
  }
  .five-element.addone#industrysolutions .part .infographic{
    padding: 30px!important;
  }
  .five-element.addone .part{
    width: 50%;
  }
  .trio .header img,
  #feature.two-col .main-feature a .btn{
    width: 100%;
  }
  .five-element.addone#industrysolutions .part:last-child .infographic{
    padding: 45px!important;
    height: auto;
  }
  .five-element .part .infographic .title .number,
  .five-element .part .infographic .title span{
    font-size: 40px;
  }
  .five-element .part .infographic{
    padding: 15px;
  }
  .navbar-collapse .pull-right{
    float: left;
    padding: 15px 0;
  }
  .outside li:first-child a{
    display: inline-block;
    font-family: 'Proxima Bold';
    font-size: 18px;
    background-color: #498CCA;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    border-radius: 5px;
  }
  #quotes-dass .section-heading,
  #quotes-middle .section-heading{
    font-size: 24px;
  }
/*
  #video-background{
    display: none;
  }
*/
  .vid header.masthead{
    text-align: center;
    color: white;
    /* background-image: url('../img/main-image.png'); */
    /* background-image: url(../img/video/BG.gif); */
    background-image: url('../img/bg-first.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 10px 0;
  }
  .vid header.masthead .intro-text{
    position: relative;
  }
  #consumer-intellegence .row{
    margin: 0;
  }
  #consumer-intellegence .main-info .part{
    padding-left: 0;
  }
  #identification h2{
    font-size: 36px;
  }
  .readmore a{
    display: none;
  }
  .readmore{
    height: auto!important;
    overflow-y: auto;
  }
  #contact .part .accolades{
    text-align: center;
  }
  #contact .part .accolades  label{
    text-align: center;
    width: 100%;
  }
  #feature .screen img{
    width: 100%!important;
    height: auto!important;
  }
    
    #contactModal.modal-new .modal-content .modal-left ul li.duo{
        width: 100%;
    }
    
    #blog-hor .col-md-4{
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        padding: 20px;
    }
    
    #blog-hor .box{
        height: auto;
    }
    
    #post-ver .left,
    #post-ver .right{
        flex: 0 0 100%;
        max-width: 100%
    }
    
    #form p{
        padding: 0 5%;
    }
}

@media screen and (max-width: 767px) and (orientation: landscape){
    .overlay{
        height: 510px;
    }
    
    #video-background {
      height: 510px;
        top: 0;
        bottom: auto;
        position: absolute;
    }
    
    #main.masthead{
        padding-bottom: 65px;
    }
    
    #consumer-intellegence h3.section-subheading.text-muted{
        padding: 62px 20px;
    }
    
    #lifesightdata.five-element{
        top: 610px;
    }
    
    .five-element .part:first-child{
        display: none;
    }
    
    .five-element .part .infographic{
        padding: 20px 30px;
    }
    
    #quotes-dass .text-center{
        padding: 14px 0 0 0;
    }
    
    #dass{
        padding-bottom: 228px !important;
    }
    
    #post-ver .left .box{
        height: 650px;
    }
    
    #post-ver .left .box img{
        height: 251px;
    }
    
    #partners{
        padding-bottom: 196px !important;
    }
    
    #industrysolutions ul li{
        width: 33.33%;
    }
    
    #industrysolutions ul li:nth-child(1),
    #industrysolutions ul li:nth-child(2){
        width: 50%;
    }
    
    #industrysolutions ul li:nth-child(1) .sol-icon,
    #industrysolutions ul li:nth-child(2) .sol-icon{
        padding: 0 40px;
    }
}

@media screen and (max-width: 767px) and (orientation: portrait){
    .overlay{
        height: 618px;
    }
    
    #video-background {
      height: 618px;
        top: 0;
        bottom: auto;
        position: absolute;
    }
    
    #main.masthead{
        padding-bottom: 65px;
    }
    
    #consumer-intellegence h3.section-subheading.text-muted{
        padding: 62px 20px;
    }
    
    #lifesightdata.five-element{
        top: 698px;
    }
    
    .five-element .part:first-child{
        display: none;
    }
    
    .five-element .part .infographic{
        padding: 20px 30px;
    }
    
    #usecase.beyond{
        padding: 50px 20px;
    }
    
    #usecase.beyond .atr .insight img{
        width: 50%;
    }
    
    #attribution{
        padding-bottom: 200px !important;
    }
    
    #quotes-dass{
        top: 655px;
    }
    
    #dass{
        padding-bottom: 260px !important;
    }
    
    #post-ver .left .box{
        height: 670px;
        margin-right: 0;
    }
    
    #post-ver .left .box img{
        height: 251px;
    }
    
    #partners{
        padding-bottom: 75px !important;
    }
    
    header.masthead#partners .intro-text{
        padding: 70px 0 230px 0;
    }
    
    header.masthead#partners .intro-text a.btn{
        width: 100% !important;
    }
    
    #industrysolution .part{
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    
    #industrysolutions ul li{
        width: 100%;
    }
    
    #industrysolutions ul li .sol-icon{
        padding: 0 90px;
    }
}