/*
EBIZU LIFESIGHT
URL: ?
AUTHOR: Nabil Amer Thabit (nbilz//lab//dsign | @nbilz)
EMAIL: nbilz@live.com
CREATE DATE: Jan 10, 2018
UPDATE DATE: Jan 10, 2018
REVISION: 1
NAME: ebizu.index-1.0.css
TYPE: Cascading Style Sheet
DESCRIPTION: Ebizu LifeSight | Top 100 retail locations insights based on app data collected and measured in Malaysia and Indonesia
PALETTE:    1. #478dcb / rgb(71, 141, 203) (Moderate Blue / Danube)
            2. #479ecb / rgb(71,158,203) (Moderate blue / Shakespeare)
            3. #7a7a7a / rgb(122, 122, 122) (Dark Gray / Boulder)
*/

#company-back{
    background: url('../img/company/company-bg.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.product header.masthead .intro-text{
    width: 60%;
    padding: 221px 15px;
}

section.our-off{
    padding: 40px 0;
    background: #EEE url('../img/company/background-our-offices.jpg') center center no-repeat;
    background-size: cover;
}

.section-heading{
    font-size: 28px;
    margin: 0 0 15px 0;
    text-align: center;
    font-family: 'Proxima Bold';
}

.border-heading{
    border-bottom: 5px solid #3D80C6 !important;
    width: 5%;
    margin: 0 auto 20px auto;
}

ul.the-country{
    overflow: auto;
    margin: 0 auto 10px auto;
    padding: 0 5px;
    max-width: 1140px;
}

ul.the-country li{
    list-style: none;
    float: left;
    padding: 10px;
    box-sizing: border-box;
    width: 33.33%;
    position: relative;
    overflow: hidden;
}

ul.the-country li img{
    width: 100%;
    height: 270px;
    object-fit: cover;
}

ul.the-country li:nth-child(3) img,
ul.the-country li:nth-child(4) img{
    height: 125px;
}

ul.the-country li .country-name{
    position: absolute;
    text-align: center;
    color: #FFF;
    left: 0;
    top: 50%;
    right: 0;
    font-family: 'Proxima Bold';
    font-size: 32px;
    line-height: 32px;
    margin: -16px 0 0 0;
    text-shadow: 0 2px 10px rgba(0, 0, 0, .5);
    transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
}

ul.the-country li:hover .country-name{
    opacity: 0;
}

ul.the-country li .overblue{
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    opacity: 0;
    max-height: 0;
    background: rgba(14, 48, 79, 0.77);
    transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
}

ul.the-country li:hover .overblue{
    opacity: 1;
    max-height: 350px;
}

ul.the-country li .overblue .country-add{
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    color: #FFF;
    font-size: 14px;
    line-height: 18px;
}

ul.the-country li .overblue .country-add strong{
    font-weight: normal;
    font-family: 'Proxima Bold';
    font-size: 16px;
    line-height: 20px;
    display: block;
    margin: 0 0 10px 0;
}


@media screen and (min-width: 1025px) and (max-width: 1600px){}

@media screen and (min-width: 768px) and (max-width: 1024px){}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){
    .product header.masthead .intro-text{
        text-align: left;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait){
    .product header.masthead .intro-text{
        margin: 0 auto;
        width: 80%;
        padding: 220px 15px;
    }
    
    ul.the-country li{
        width: 50%;
    }
    
    ul.the-country li img,
    ul.the-country li:nth-child(3) img,
    ul.the-country li:nth-child(4) img{
        height: 270px;
    }
}

@media screen and (max-width: 767px){
    ul.the-country li img,
    ul.the-country li:nth-child(3) img,
    ul.the-country li:nth-child(4) img{
        height: 270px;
    }
}

@media screen and (max-width: 767px) and (orientation: landscape){
    ul.the-country li{
        width: 50%;
    }
    
    .product header.masthead .intro-text{
        width: 100% !important;
        padding: 254px 15px;
    }
}

@media screen and (max-width: 767px) and (orientation: portrait){
    ul.the-country li{
        width: 100%;
    }
    
    .product header.masthead .intro-text{
        width: 100%;
        padding: 271px 15px;
    }
}

/*
@media screen and (min-width: 1025px) and (max-width: 1600px){}

@media screen and (min-width: 768px) and (max-width: 1024px){}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait){}

@media screen and (max-width: 767px){}

@media screen and (max-width: 767px) and (orientation: landscape){}

@media screen and (max-width: 767px) and (orientation: portrait){}*/