/*
EBIZU LIFESIGHT
URL: ?
AUTHOR: Nabil Amer Thabit (nbilz//lab//dsign | @nbilz)
EMAIL: nbilz@live.com
CREATE DATE: Jan 10, 2018
UPDATE DATE: Jan 10, 2018
REVISION: 1
NAME: ebizu.index-1.0.css
TYPE: Cascading Style Sheet
DESCRIPTION: Ebizu LifeSight | Top 100 retail locations insights based on app data collected and measured in Malaysia and Indonesia
PALETTE:    1. #478dcb / rgb(71, 141, 203) (Moderate Blue / Danube)
            2. #479ecb / rgb(71,158,203) (Moderate blue / Shakespeare)
            3. #7a7a7a / rgb(122, 122, 122) (Dark Gray / Boulder)
*/

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/Proxima/Thin-webfont.eot');
    src: url('../fonts/Proxima/Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Proxima/Thin-webfont.woff2') format('woff2'),
         url('../fonts/Proxima/Thin-webfont.woff') format('woff'),
         url('../fonts/Proxima/Thin-webfont.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/Proxima/proximanova-regular.eot');
    src: url('../fonts/Proxima/proximanova-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Proxima/proximanova-regular.woff2') format('woff2'),
         url('../fonts/Proxima/proximanova-regular.woff') format('woff'),
         url('../fonts/Proxima/proximanova-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova-Bold.eot');
    src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
         url('../fonts/ProximaNova-Bold.woff') format('woff'),
         url('../fonts/ProximaNova-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

html{
    -webkit-text-size-adjust: 100%;
}

body{
    background: #FFF;
    color: #333;
    font-size: 12px;
    line-height: 12px;
    font-family: 'ProximaNova', Helvetica, Arial, sans-serif;
    margin: 0;
    font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
}

body a{
    text-decoration: none;
    color: #478dcb;
}

header{
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    z-index: 99;
    background: rgba(255, 255, 255, .95);
    border-bottom: 1px solid rgba(71, 141, 203, .25);
}

a.the-logo{
    display: block;
    float: left;
    margin: 0;
}

a.the-logo img{
    height: 30px;
}

.tit-top{
    font-size: 18px;
    line-height: 30px;
    float: right;
    margin: 0 0 0 0;
    color: #478dcb;
}

footer{
    background: #478dcb;
    padding: 30px 0;
    font-size: 11px;
}

footer .bottom-down{
    text-align: center;
    color: #FFF;
}

footer .bottom-down a{
    color: #FFF;
    font-weight: bold;
    transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
}

footer .bottom-down a:hover{
    margin: 0 5px;
}

.martop{
    padding: 50px 0 0 0;
}

.marbot{
    padding: 0 0 20px 0;
}

.the-content{
    padding: 40px 0;
    max-width: 1200px;
    margin: 0 auto;
}

.the-content > ul{
    overflow: auto;
    margin: -10px 0;
}

.the-content > ul > li{
    padding: 10px;
    float: left;
    width: 25%;
    box-sizing: border-box;
    height: auto;
}

.the-content > ul > li > .the-section{
    border: 1px solid rgba(71, 141, 203, .25);
    padding: 20px;
    border-radius: 3px;
}

.the-content > ul > li > .the-section > .tit-section{
    font-weight: 100;
    font-size: 24px;
    line-height: 24px;
}

.the-content > ul > li > .the-section > ul{
    margin: 10px 0 -3px 0;
}

.the-content > ul > li > .the-section > ul > li{}

.the-content > ul > li > .the-section > ul > li > a{
    display: block;
    padding: 5px 75px 5px 0;
    font-size: 12px;
    line-height: 12px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
}

.the-content > ul > li > .the-section > ul > li > a:hover{
    color: #999;
}

.sitemap-update{
    text-align: center;
    padding: 20px 30px 0 30px;
    color: #666;
    border-top: 1px solid rgba(71, 141, 203, .25);
    margin: 0 0 0 0;
}

ul.legend{
    margin: 40px auto 40px auto;
    overflow: auto;
    max-width: 1200px;
    padding: 0 10px;
    box-sizing: border-box;
}

ul.legend li{
    float: left;
    padding: 20px;
    width: 16.66%;
    box-sizing: border-box;
    text-align: center;
    color: #FFF;
    font-size: 18px;
    line-height: 18px;
}

ul.legend li:first-child{
    border-radius: 3px 0 0 3px;
}

ul.legend li:last-child{
    border-radius:  0 3px 3px 0;
}

.the-content > ul > li > .the-section > ul > li > a > span{
    padding: 4px 5px;
    color: #FFF;
    font-size: 10px;
    line-height: 10px;
    font-weight: bold;
    position: absolute;
    right: 0;
    top: 0;
    margin: 1.5px 0 0 0;
    border-radius: 3px;
}

.tit-section a,
section ul li a.proto{
    float: right;
    font-size: 12px;
    line-height: 12px;
    font-weight: bold;
    background: rgba(255, 255, 255, .5);
    border: 2px solid #FA460C;
    padding: 3px 5px;
    margin: -3px 0 0 10px;
    border-radius: 3px;
    color: #FA460C;
    transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
}

section ul li a.proto{
    float: none;
    margin: 10px 10px 0 10px;
}

.tit-section a:hover,
section ul li a.proto:hover{
    color: #FFF;
    background: #FA460C;
    border: 2px solid #FA460C;
}

.tit-section a.disab,
.tit-section a.disab:hover{
    opacity: .5;
    border: 2px solid #999;
    color: #999;
    background: transparent;
}

ul.legend li.on-plan,
.the-content > ul > li > .the-section > ul > li > a > span.on-plan{
    background: #CCC;
}

ul.legend li.on-work,
.the-content > ul > li > .the-section > ul > li > a > span.on-work{
    background: #01AAED;
}

ul.legend li.on-review,
.the-content > ul > li > .the-section > ul > li > a > span.on-review{
    background: #A8D137;
}

ul.legend li.on-update,
.the-content > ul > li > .the-section > ul > li > a > span.on-update{
    background: #cc0000;
}

ul.legend li.on-finish,
.the-content > ul > li > .the-section > ul > li > a > span.on-finish{
    background: #663096;
}

ul.legend li.new,
.the-content > ul > li > .the-section > ul > li > a > span.new{
    background: #e59400;
}

ul.legend li span{
    font-size: 11px;
    line-height: 13px;
    margin: 5px 0 0 0;
    font-weight: bold;
    min-height: 26px;
    display: -webkit-box !important;
    display: -moz-box !important;
    display: box !important;
    -webkit-line-clamp: 3;
    -moz-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.the-progress{
    padding: 0 10px;
    max-width: 1200px;
    margin: 0 auto 0 auto;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 14px;
}

.the-progress .progress-val{
    text-align: center;
    color: #666;
}

.the-progress .progress-val span{
    color: #333;
    font-weight: bold;
}

.the-progress .progress-bar{
    background: #EEE;
    padding: 1px;
    margin: 10px 0 0 0;
    border-radius: 3px;
    box-shadow: inset 0 0 5px #DDD;
}

.the-progress .progress-bar .the-width{
    background: #478dcb;
    color: #FFF;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-shadow: 0 0 5px #478dcb;
    width: 0%;
    font-weight: bold;
}

.the-progress ul.prog-guide{
    overflow: auto;
    color: #999;
    font-weight: bold;
    padding: 5px 10px 0 10px;
    font-size: 12px;
    line-height: 16px;
}

.the-progress ul.prog-guide li{
    float: left;
    width: 33.33%;
    text-align: center;
}

.the-progress ul.prog-guide li:first-child{
    text-align: left;
}

.the-progress ul.prog-guide li:last-child{
    text-align: right;
}

@media screen and (min-width: 1025px) and (max-width: 1600px){}

@media screen and (min-width: 768px) and (max-width: 1024px){
    ul.legend{
        margin: 30px 10px 30px 10px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){
    ul.legend li{
        min-height: 78px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait){
    ul.legend li{
        min-height: 92px;
    }
    
    .the-content > ul > li{
        width: 33.33%;
    }
}

@media screen and (max-width: 767px){
    ul.legend{
        margin: 30px 10px 30px 10px;
    }
}

@media screen and (max-width: 767px) and (orientation: landscape){
    a.the-logo{
        width: 27%;
    }
    
    ul.legend{
        margin-top: 30px;
    }
    
    ul.legend li{
        width: 33.33%;
        padding: 10px;
        min-height: 80px;
    }

    ul.legend li:first-child{
        border-radius: 10px 0 0 0;
    }

    ul.legend li:nth-child(3){
        border-radius: 0 10px 0 0;
    }

    ul.legend li:nth-child(4){
        border-radius: 0 0 0 10px;
    }

    ul.legend li:last-child{
        border-radius: 0 0 10px 0;
    }
    
    .the-content > ul > li{
        width: 50%;
    }
}

@media screen and (max-width: 767px) and (orientation: portrait){
    a.the-logo{
        width: 42%;
        margin: 5px auto 0 auto;
        float: none;
    }
    
    .tit-top{
        font-size: 18px;
        line-height: 18px;
        margin: 5px 0 5px 0;
        text-align: center;
        float: none;
        display: block;
    }
    
    ul.legend{
        margin-top: 60px;
    }

    ul.legend li{
        width: 50%;
        padding: 10px;
        min-height: 94px;
    }

    ul.legend li:first-child{
        border-radius: 10px 0 0 0;
    }

    ul.legend li:nth-child(2){
        border-radius: 0 10px 0 0;
    }

    ul.legend li:nth-child(5){
        border-radius: 0 0 0 10px;
    }

    ul.legend li:last-child{
        border-radius: 0 0 10px 0;
    }
    
    .the-content > ul > li{
        width: 100%;
    }
}